<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.caRing.repository.BoardMapper">
    
    <!-- 브랜드 출력 -->
    <select id="findBrand" resultType="brand">
    	select * from brand
    </select>
    
    <!-- 차종 출력 -->
    <select id="findCarType" resultType="carType">
    	select * from carType
    </select>
    
    <!-- 유종 출력 -->
    <select id="findFuel" resultType="fuel">
    	select * from fuel
    </select>
    
    <!-- 특징 출력 -->
    <select id="findFeature" resultType="feature">
    	select * from feature
    </select>
    
    <!-- 차 저장 -->
    <insert id="saveCar">
    	<selectKey keyProperty="carInfo_id" resultType="long" order="BEFORE">
			select seq_board.nextval from dual
		</selectKey>
		insert into carInfo values (
			#{carInfo_id},
			#{brand_id},
			#{carType_id},
			#{car_name},
			#{car_year},
			#{seat},
			#{fuel_id},
			#{host_email}
		)
    </insert>
    
    <!-- 옵션 저장 -->
    <insert id="saveOption">
    	<selectKey keyProperty="optionList_id" resultType="long" order="BEFORE">
			select seq_board.nextval from dual
		</selectKey>
		insert into optionList values (
			#{optionList_id},
			#{carInfo_id},
			#{option_value}
		)
    </insert>
    	
    <!-- 사진 저장 -->
    <insert id="saveFile">
		<selectKey keyProperty="attachedFile_id" resultType="long" order="BEFORE">
			select seq_board.nextval from dual
		</selectKey>
		insert into attached_file values (
			#{attachedFile_id},
			#{carInfo_id},
			#{original_filename},
			#{saved_filename},
			#{file_size}
		)
	</insert>
	
	<!-- 게시글 저장 -->
	<insert id="saveBoard">
     <selectKey keyProperty="board_id" resultType="long" order="BEFORE">
            select seq_board.nextval from dual
     </selectKey>
       insert into board (
         board_id,
         host_email,
         title,
         board_contents,
         price,
         area,
         carInfo_id,
         rent_start,
         rent_end      
       ) values (
          #{board_id},
          #{host_email},
          #{title},
          #{board_contents},
          #{price},
          #{area},
          #{carInfo_id},
          #{rent_start},
          #{rent_end}
       )
    </insert>
    
    <!-- 타이틀 출력 -->
    <select id="setTitle" resultType="string">
       select 
              b.brand_name ||' '|| c.car_name ||' '|| c.car_year 
           from 
              carInfo c join brand b on (c.brand_id = b.brand_id) 
           where 
              carInfo_id = #{carInfo_id}
    </select>
    
    <!-- 호스트 이메일로 차 리스트 출력 -->
    <select id="findCarInfoByEmail">
    	select * from carInfo where host_email = #{host_email}
    </select>
</mapper>