@font-face {
	font-family: 'ocr';
	src: url('/font/OCR-B\ 10\ BT.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
	unicode-range: U+AC00-D7A3;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: inherit;
	color: inherit;
}

ul {
	list-style: none;
}

img {
	vertical-align: top;
}

button {
	border: none;
	background-color: transparent;
	color: #dbcba0;
}

body {
	font-family: 'ocr', 'Pretendard-Regular';
}

header {
	display: flex;
	height: 70px;
	background-color: #6e7a77;
	justify-content: space-between;
	color: #dbcba0;
}

.mainlogo {
	text-align: center;
	font-family: 'ocr';
	margin-left: 20px;
	padding-top: 10px;
}

.profile {
	display: flex;
	margin-right: 20px;
	padding-top: 15px;
}

.profileImg img {
	width: 40px;
}

.profile button {
	font-size: 16px;
}

h1 {
	margin-bottom: 36px;
}

h2 {
	margin: 36px 0;
}

.wrap {
	width: 1200px;
	margin: 0 auto;
	padding-top: 60px;
}

.carImgwrap {
	display: flex;
	justify-content: space-between;
}

.carPreview {
	width: 330px;
	height: 330px;
	border-radius: 30px;
	border: 3px solid #363636;
	overflow: hidden;
	color: #6e7a77;
	font-size: 50px;
	position: relative;
}

.carPreview i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	width: 50px;
	height: 50px;
	background-color: tomato;
	cursor: pointer;
	margin-bottom: 36px;
}

#carUpload {
	display: none;
}

.carPreview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.closebtn {
	color: #363636;
	display: none;
	font-size: 25px;
	position: absolute;
	top: 30px;
	right: 30px;
}

.brand {
	width: 20%;
	margin-bottom: 20px;
}
.carInfowrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.carYearwrap p {
	margin-bottom: 20px
}

.submit {
	width: 200px;
	margin: 100px auto;
}

.submit input {
	width: 200px;
	height: 50px;
	border: none;
}