@font-face {
	font-family: 'ocr';
	src: url('/font/OCR-B\ 10\ BT.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: inherit;
	color: inherit;
}

ul {
	list-style: none;
}

body {
	background-color: #dbcba0;
	color: #6e7a77;
}

form {
	width: 455px;
	height: 1000px;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
	font-family: 'ocr';
	color: #6e7a77;
}

h1 {
	padding-top: 80px;
	margin-bottom: 50px;
}

.info {
	padding-left: 30px;
	padding-right: 30px;
	width: 290px;
	border: 2px solid #6e7a77;
}

input {
	width: 350px;
	height: 50px;
	border-radius: 25px;
	border: none;
	margin-bottom: 10px;
}

.loginbt {
	font-family: 'Zen Maru Gothic', sans-serif;
	font-weight: 500;
	margin-top: 20px;
	border: 2px solid #6e7a77;
	color: #6e7a77;
	font-family: 'Pretendard-Regular';
}

a {
	font-weight: 500;
}

.error {
	color: red;
	font-family: 'Pretendard-Regular';
	margin-bottom: 10px;
}

.emailwrap {
	width: 380px;
	height: 50px;
	border-radius: 25px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.email {
	width: 238px;
	border: 2px solid #6e7a77;
	padding-left: 30px;
}

.bt {
	width: 70px;
	border: 2px solid #6e7a77;
	color: #6e7a77;
	font-family: 'Pretendard-Regular';
}
input:focus {outline: none !important; border-color: orangered;}