@font-face {
	font-family: 'ocr';
	src: url('/font/OCR-B\ 10\ BT.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
	unicode-range: U+AC00-D7A3;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: inherit;
	color: inherit;
}

ul {
	list-style: none;
}

img {
	vertical-align: top;
}

button {
	border: none;
	background-color: transparent;
	color: #dbcba0;
}

body {
	font-family: 'ocr', 'Pretendard-Regular';
}

header {
	position: relative;
	background-color: #6e7a77;
	color: #dbcba0;
}

.hwrap {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-size: 12px;
}

.mainlogo {
	text-align: center;
	font-family: 'ocr';
	margin-left: 20px;
}

.profile {
	display: flex;
	margin-right: 20px;
}

.profileImg img {
	width: 40px;
}

.profile button {
	font-size: 16px;
}

.lnb-container {
	position: relative;
}

.lnb {
	width: 400px;
	background-color: white;
	border-radius: 30px;
	position: absolute;
	top: -10px;
	right: 20px;
	border: 3px solid #6e7a77;
	font-weight: 700;
	color: #6e7a77;
}

.lnb ul {
	margin-left: 15px;
	padding: 27px;
	padding-bottom: 0;
}

.lnb ul li {
	margin-bottom: 27px;
}

.lnb span {
	display: block;
	width: 300px;
	height: 3px;
}

.lnbclose {
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

hr {
	width: 350px;
	margin-left: 22px;
}

.mainwrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #6e7a77;
}

.list {
	width: 600px;
	height: 800px;
	border: 3px solid #6e7a77;
	margin-top: 30px;
	border-radius: 30px;
}

.carList {
	margin-left: 20px;
}

.resList {
	margin-right: 20px;
}

.detailwrap {
	width: 600px;
	height: 700px;
	overflow: auto;
	margin: 0 auto;
}

.title {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}

.car, .res {
	width: 550px;
	border-radius: 30px;
	margin: 0 auto;
	margin-bottom: 20px;
	box-shadow: 5px 5px 10px #ccc;
	border: 1px solid #ccc;
}

.carwrap, .reswrap {
	display: flex;
	padding: 24px;
}

.img {
	width: 45%;
	height: 140px;
	border-radius: 20px;
	overflow: hidden;
}

.img img {
	width: 100%;
}

.carInfo, .resInfo {
	margin-left: 30px;
	width: 55%;
}

.resProfile, .resInfoTitle {
	display: flex;
	justify-content: space-between;
}

h3 {
	margin-bottom: 30px;
}