<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.caRing.model.customer.Customer" alias="customer"/>
        <typeAlias type="com.example.caRing.model.host.Host" alias="host"/>
        <typeAlias type="com.example.caRing.model.car.Car" alias="car"/>
    </typeAliases>
</configuration>