<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/host_main.css">
    <title>Host Main</title>
</head>

<body>
    <header>
        <div class="hwrap">
            <div class="mainlogo">
                <h1>
                    <a href="#">
                        <img src="/img/logo ver2.png" alt="main logo ver.2">
                        <p>Host Page</p>
                    </a>
                </h1>
            </div><!--mainlogo-->

            <div class="profile">
                <div class="profileImg" th:unless=${host.host_img}>
                    <img src="/img/userlogo.png" alt="user logo ver.2">
                </div>
                <div class="profileImg" th:if="${host.host_img}">
					<img th:src="${session.loginHost.host_img}" alt="profile Img">
				</div>
            </div><!--profile-->
        </div><!--hwrap-->

        <div class="lnb-container">
            <div class="lnbclose"></div>
            <div class="lnb">
                <ul>
                    <li><a href="#">메시지</a></li>
                    <li><a href="/host/profile">마이페이지</a></li>
                </ul>
                <hr>
                <ul>
                    <li><a href="/host/login">로그아웃</a></li>
                </ul>
            </div>
        </div><!--lnb-container-->
    </header>

    <div class="mainwrap">
        <div class="carList list">
            <div class="title">
                <h2>Car List</h2>
                <a href="/board/car_registration">more</a>
            </div>
            
            <div class="detailwrap">
                <div class="car" th:each="car: ${cars}">
                    <div class="carwrap">
                        <div class="img">
                            <a href="#">
                               	<img th:src="${car.thumbnail}" alt="car photo1">
                            </a>
                        </div><!--carImg-->

                        <div class="carInfo">
                        	<a href="#">
                            	<h3 th:text="${car.car_name}"></h3>
                            </a>
                            <div class="carBt">
                                <input type="button" value="수정">
                                <input type="button" value="삭제">
                            </div><!--button-->
                        </div><!--carInfo-->
                    </div><!--carwrap-->
                </div><!--car-->
                
            </div><!--detailwrap-->
        </div><!--carList-->
        
        
        <div class="boardList list">
            <div class="title">
                <h2>Board List</h2>
                <a href="/board/write">more</a>
            </div>
            
            <div class="detailwrap">
                <div class="car" th:each="boardDTO: ${boardDTOs}">
                    <div class="carwrap">
                        <div class="img">
                            <a href="#">
                                <img th:src="${boardDTO.car.thumbnail}" alt="reservation car photo1">
                            </a>
                        </div><!--carImg-->

                        <div class="carInfo">
                        	<a href="#">
                            	<h3 th:text="${boardDTO.board.title}"></h3>
                            </a>
                            <p><span class="won">\ </span><span th:text="*{boardDTO.board.price}"></span>/ 1-day</p>
                     		<input name="address" type="hidden">
                            <div class="carBt">
                                <input type="button" value="수정">
                                <input type="button" value="삭제">
                            </div><!--button-->
                        </div><!--carInfo-->
                    </div><!--carwrap-->
                </div><!--car-->

            </div><!--detailwrap-->
        </div><!--carList-->


        <div class="resList list">
            <div class="title">
                <h2>Reservation List</h2>
                <a href="#">more</a>
            </div>

            <div class="detailwrap">
                <div class="res">
                    <div class="reswrap">
                        <div class="img">
                            <a href="#">
                                <img src="/img/mercedes-benz-3395531_640.jpg" alt="res1">
                            </a>
                        </div><!--carImg-->

                        <div class="resInfo">
                            <div class="resInfoTitle">
                                <h3>reservation 1</h3>
                                <span>요청</span>
                            </div>
                            <div class="resProfile">
                                <div class="userInfo">
                                    <div class="userImg"></div>
                                    <p>username</p>
                                </div><!--userInfo-->
                                <div class="resDate">
                                    <p><span class="start">2023/04/30</span> ~ <br>
                                    <span class="end">2023/05/03</span></p>
                                </div>
                                <div class="chat">
                                    <i class="fa-solid fa-comments"></i>
                                </div>
                            </div><!--resProfile-->
                        </div><!--resInfo-->
                    </div><!--reswrap-->
                </div><!--res-->

                <div class="res">
                    <div class="reswrap">
                        <div class="img">
                            <a href="#">
                                <img src="/img/mercedes-benz-3395531_640.jpg" alt="res1">
                            </a>
                        </div><!--carImg-->

                        <div class="resInfo">
                            <div class="resInfoTitle">
                                <h3>reservation 1</h3>
                                <span>요청</span>
                            </div>
                            <div class="resProfile">
                                <div class="userInfo">
                                    <div class="userImg"></div>
                                    <p>username</p>
                                </div><!--userInfo-->
                                <div class="resDate">
                                    <p><span class="start">2023/04/30</span> ~ <br>
                                    <span class="end">2023/05/03</span></p>
                                </div>
                                <div class="chat">
                                    <i class="fa-solid fa-comments"></i>
                                </div>
                            </div><!--resProfile-->
                        </div><!--resInfo-->
                    </div><!--reswrap-->
                </div><!--res-->

                <div class="res">
                    <div class="reswrap">
                        <div class="img">
                            <a href="#">
                                <img src="/img/mercedes-benz-3395531_640.jpg" alt="res1">
                            </a>
                        </div><!--carImg-->

                        <div class="resInfo">
                            <div class="resInfoTitle">
                                <h3>reservation 1</h3>
                                <span>요청</span>
                            </div>
                            <div class="resProfile">
                                <div class="userInfo">
                                    <div class="userImg"></div>
                                    <p>username</p>
                                </div><!--userInfo-->
                                <div class="resDate">
                                    <p><span class="start">2023/04/30</span> ~ <br>
                                    <span class="end">2023/05/03</span></p>
                                </div>
                                <div class="chat">
                                    <i class="fa-solid fa-comments"></i>
                                </div>
                            </div><!--resProfile-->
                        </div><!--resInfo-->
                    </div><!--reswrap-->
                </div><!--res-->
            </div>
        </div><!--resList-->
    </div><!--mainwrap-->
    
    <script src="https://kit.fontawesome.com/d1fa9340d9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
	    $(function () {
	        $(".lnb, .lnbclose").hide();
	        $(".profile").click(function () {
	            $(".lnb, .lnbclose").toggle();
	        })
	
	        $('.lnbclose').click(function () {
	            $('.lnb, .lnbclose').hide();
	        })
	    })
    </script>
</body>

</html>