@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
/* font-family: 'Zen Maru Gothic', sans-serif; */
@font-face {
    font-family: 'ocr';
    src: url('font/OCR-B\ 10\ BT.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    height: 3000px;
}

header {
    position: relative;
    background-color: #dbcba0;
}

.hwrap {
    height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    left: 20px;
}

.userwrap {
    position: absolute;
    right: 20px;
}

.user {
    position: absolute;
    right: 20px;
}

.user img {
    width: 65px;
}

.lnb-container {
    position: relative;
}

.lnb {
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: -10px;
    right: 20px;
    border: 3px solid #6e7a77;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 700;
    color: #6e7a77;
}

.lnb ul {
    margin-left: 15px;
    padding: 27px;
    padding-bottom: 0;
}

.lnb ul li {
    margin-bottom: 27px;
}

.lnb span {
    display: block;
    width: 300px;
    height: 3px;
}
.lnbclose {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

hr {
    width: 350px;
    margin-left: 22px;
}

.search video {
    width: 100%;
    height: 900px;
    object-fit: fill;
    position: absolute;
    top: 0;
    z-index: -5;
}

.carSearch {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 700;
    width: 900px;
    height: 70px;
    background-color: #dbcba0;
    border-radius: 50px;
    display: flex;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
}

.where {
    width: 400px;
    margin-left: 30px;
    margin-top: 10px;
}

.from,
.until {
    width: 250px;
    margin-left: 30px;
    margin-top: 10px;
}

.searchbt {
    width: 50px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    color: #6e7a77;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 25px;
}

.bodywrap {
	width: 1320px
}