server:
  port: 9010

spring:
  datasource:
      url: jdbc:oracle:thin:@211.38.173.250:1521:xe
      username: caring
      password: 1234
      driver-class-name: oracle.jdbc.driver.OracleDriver 
  jpa:
    database-platform: org.hibernate.dialect.Oracle12cDialect
    generate-ddl: true
    show-sql: true
      
  servlet:
    multipart:
      max-file-size:
        10MB
      max-request-size:
        50MB
        
  mail:
    host: smtp.gmail.com
    port: 587
    username: caRingEmailService
    password: tzdnamufpctwjblk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        
mybatis:
#  config-location: classpath:config/mybatis-config.xml
  type-aliases-package: com.example.caRing.model
  mapper-locations:
  - classpath:mapper/**/*.xml