server:
  port: 9010
  servlet:
    session:
      tracking-modes:
      - cookie

spring:
  datasource:
      url: jdbc:oracle:thin:@211.38.173.250:1521:xe
      username: caring
#      url: jdbc:oracle:thin:@localhost:1521:xe
#      username: car
      password: 1234
      driver-class-name: oracle.jdbc.driver.OracleDriver 
      
  servlet:
    multipart:
      max-file-size:
        10MB
      max-request-size:
        50MB
        
  mail:
    host: smtp.gmail.com
    port: 587
    username: caRingEmailService
    password: tzdnamufpctwjblk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        
mybatis:
#  config-location: classpath:config/mybatis-config.xml
  type-aliases-package: com.example.caRing.model
  mapper-locations:
  - classpath:mapper/**/*.xml