<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://kit.fontawesome.com/d1fa9340d9.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<style>
.flatpickr {
	display: flex;
}
</style>

<script>
      $(function(){
       $(".flatpickr").flatpickr({
           mode: "range",
           onChange: function(selectedDates){
            $('#first-input').val(this.formatDate(selectedDates[0], "Y-m-d"));
            $('#second-input').val(this.formatDate(selectedDates[1], "Y-m-d"));
         },
            wrap: true
        });
     });    
</script>

<script>
        $(function () {
            $(".lnb, .lnbclose").hide();
            $(".user").click(function () {
                $(".lnb, .lnbclose").toggle();
            })

            $('.lnbclose').click(function () {
                $('.lnb, .lnbclose').hide();
            })
        })
    </script>
<title>caRing</title>
</head>

<body>
	<header>
		<div class="hwrap">
			<div class="logo">
				<h1>
					<a href="#"> <img src="img/logo.png" alt="caRing main logo">
					</a>
				</h1>
			</div>
			<!--logo-->

			<div class="user">
				<a href="#"> <img src="img/user.png" alt="userlogo">
				</a>
			</div>
			<!--user-->
		</div>
		<!--hwrap-->

		<div class="lnb-container">
			<div class="lnbclose"></div>
			<div class="lnb">
				<ul>
					<li><a href="#">메시지</a></li>
					<li><a href="#">마이페이지</a></li>
				</ul>
				<hr>
				<ul>
					<li><a href="#">고객센터</a></li>
				</ul>
				<hr>
				<ul>
					<li><a href="/customer/login">USER 로그인 / 회원가입</a></li>
					<li><a href="/host/login">HOST 로그인 / 회원가입</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="search">
		<video muted loop autoplay>
			<source src="img/road-42483.mp4">
		</video>

		<form action="/board/list" class="carSearch">
			<div class="where">
				<label>where</label><br> <input type="text" id="autocomplete"
					name="location" placeholder="city, airport, adress or hotel">
			</div>
			<div class="flatpickr">
				<div class="from">
					<label>from</label><br> <input id="first-input"
						name="rent_start" type="text" data-input>
				</div>
				<div class="until">
					<label>until</label><br> <input id="second-input"
						name="rent_end" type="text" data-input>
				</div>
			</div>
			<div class="searchbt">
				<button>
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
			<input type="hidden" name="searchedLat" id="lats">
			<input type="hidden" name="searchedLng" id="lngs">
			</form>
	</div>
	<div class="bodywrap"></div>
<script>
	function initAutocomplete() {
		var input = document.getElementById('autocomplete');
		var searchBox = new google.maps.places.SearchBox(input);
		var geocoder = new google.maps.Geocoder();
				
		findLatLng(geocoder);
	}
	
	function findLatLng(geocoder) {
		$("#autocomplete").change(function (){
	        geocodeAddress(geocoder);
     	});
	}
	function geocodeAddress(geocoder) {	

		var address = document.getElementById('autocomplete').value;
		geocoder.geocode({'address' : address}, function(result, status) {
			const lat = result[0].geometry.location.lat();
			const lng = result[0].geometry.location.lng();
			
			document.getElementById("lats").value = lat;
			document.getElementById("lngs").value = lng;
		});
	};
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCohcEtokIbEDDmWarMHZTTWAW8sffjywM&libraries=places&callback=initAutocomplete" async defer></script>

</body>
</html>