<!DOCTYPE html>
<html lang="ko">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/board_list.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://kit.fontawesome.com/d1fa9340d9.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>
   	$(function(){
       $(".flatpickr").flatpickr({
           mode: "range",
           onChange: function(selectedDates){
            $('#first-input').val(this.formatDate(selectedDates[0], "Y-m-d"));
            $('#second-input').val(this.formatDate(selectedDates[1], "Y-m-d"));
         },
            wrap: true
        });
     });    
</script>

 <script>
        $(function () {
            $(".lnb, .lnbclose").hide();
            $(".sorttoggle").click(function () {
                $(".lnb, .lnbclose").toggle();
            })

            $('.lnbclose').click(function () {
                $('.lnb, .lnbclose').hide();
            })
        })
            
            $(function () {
                $(".lnb1, .lnbclose1").hide();
            	$(".pricetoggle").click(function () {
                	$(".lnb1, .lnbclose1").toggle(function() {
                		$("#slider-range").slider({
                        	range: true,
                        	min: 1000,
                        	max: 200000,
                        	step: 1000,
                        	values: [20000, 50000],
                        	slide: function(event, ui) {
                            	$("#amount2").val(ui.values[0] + "원" +  " - " + ui.values[1] + "원");
                        	}
                    	});
                    	$("#amount2").val($("#slider-range").slider("values", 0) + "원" + " - " + $("#slider-range").slider("values", 1) + "원");
                	});
            	})

            	$('.lnbclose1').click(function () {
                	$('.lnb1, .lnbclose1').hide();
            	})
        })
          $(function () {
            $(".lnb2, .lnbclose2").hide();
            $(".filtertoggle").click(function () {
                $(".lnb2, .lnbclose2").toggle();
            })

            $('.lnbclose2').click(function () {
                $('.lnb2, .lnbclose2').hide();
            })
        })
</script>
<title>Car Search</title>
</head>

<body>
   <header>
      <h1>
         <a href="/"> <img src="/img/logo.png" alt="caRing main logo"></a>
      </h1>
      
      <div class="searchBar">
         <form action="#" class="carSearch">
            <div class="where">
               <label>Where</label> <input type="text" id="autocomplete" placeholder="city, airport, adress or hotel">
            </div>
            
            <div class="When">
               <label>When</label>
            </div>
            
            <div class="flatpickr">
               <input id="first-input" type="text" placeholder="날짜를 선택해주세요" data-input>
               <input id="second-input" type="text" placeholder="날짜를 선택해주세요" data-input>
               <a class="input-button" title="toggle" data-toggle> 
               <i class="fa-solid fa-calendar-days"></i></a>
               
               <a class="input-button" title="clear" data-clear> 
               <i class="fa-regular fa-circle-xmark"></i></a>
            </div>
         </form>
      </div>
      
      <div class="usermenu">
         <a href="#"><img src="/img/user.png" alt="user logo"></a>
      </div>
   </header>
  
   <div class="serachFilterBar">
         <div class="searchFilter">
            <button class="sorttoggle" type="button">
               <span>정렬</span>
            </button>
            <div class="lnb-container">
            	<div class="lnbclose"></div>
            	<div class="lnb">
                    <a href="./list">낮은가격순</a><br>
                    <a href="./list">높은가격순</a><br>
                    <a href="./list">거리순</a>
            	</div> 
            </div>
         </div>
         <div class="searchFilter">
            <button class="pricetoggle" type="button">
               <span>가격</span>
            </button>
            <div class="lnb-container">
            	<div class="lnbclose1"></div>
            	<div class="lnb1">
               
                   		<p><input type="text" id="amount2">
    					</p>
    				<div id="slider-range"></div>
    				<input type="button" value="적용하기">
            	</div>
            </div>
         </div>
         <div class="searchFilter">
            <button class="filtertoggle" type="button">
               <span>필터</span>
            </button>
            <div class="lnb-container">
            	<div class="lnbclose2"></div>
            	<div class="lnb2">
                	<h3>제조사</h3>
        			<div class="carInfowrap">
	        			<div class="brand" th:each="brand: ${brands}">
	            		<input type="checkbox" name="brand_id" th:value="${brand.brand_id}">
	            		<label th:text="${brand.brand_name}"></label>
	        			</div><!-- brand -->
        			</div><!-- carInfowrap -->
        
        			<h3>차종</h3>
        			<div class="carInfowrap">
	        			<div class="carType" th:each="carType: ${carTypes}">
	            		<input type="checkbox" name="carType_id" th:value="${carType.carType_id}">
	            		<label th:text="${carType.carType_name}"></label>
	        			</div><!-- carType -->
        			</div><!-- carInfowrap -->

        			<h3>좌석</h3>
        			<div class="carInfowrap">
	        			<input type="radio" name="seat" value="3~5인승">
	        			<label>3~5인승</label>
	        			<input type="radio" name="seat" value="6인 이상">
	        			<label>6인 이상</label>
        			</div><!-- carYearwrap -->
        
        			<h3>유종</h3>
        			<div class="carInfowrap">
	        			<div class="fuel" th:each="fuel: ${fuels}">
	            		<input type="checkbox" name="fuel_id" th:value="${fuel.fuel_id}">
	            		<label th:text="${fuel.fuel_name}"></label>
	        			</div><!-- fuel -->
        			</div><!-- carInfowrap -->
        
        			<h3>특징</h3>
        			<div class="carInfowrap">
	        			<div class="feature" th:each="feature: ${features}">
	            		<input type="checkbox" name="option_value" th:value="${feature.feature_id}">
	            		<label th:text="${feature.feature_name}"></label>
	        			</div><!-- feature -->
        			</div><!-- carInfowrap -->
        			<input type="button" value="적용하기">
            	</div>
            </div>
         </div>
   	</div>
   <div class="carwrap">
      <div class="carlist">
      <th:block th:each="boardDTO: ${boardDTOs}">
         <a th:href="@{/board/read(board_id=${boardDTO.board.board_id})}">
            <div class="car">
               <div class="img">
                  <img th:src="${boardDTO.car.thumbnail}" alt="car list 1">
               </div>
               <div class="carInfo">
                  <p class="carName" th:text="*{boardDTO.board.title}"></p>
                  <div class="carDetail">
                     <p>★4.8</p>
                     <p><span class="won">\ </span>
                     <span th:text="*{boardDTO.board.price}"></span>/ 1-day</p>
                     <input name="address" type="hidden" th:value="*{boardDTO.board.area}">
                     <input name="price" type="hidden" th:value="*{boardDTO.board.price}">
                     <input name="title" type="hidden" th:value="*{boardDTO.board.title}">
                  </div>   
               </div>
            </div>
         </a>
         </th:block> 
      </div>
      <script>
      var map
      var geocoder;
         function myMap(){
            var map = new google.maps.Map(document.getElementById('googleMap'), {
                 center: {lat: 37.5400456, lng: 126.9921017},
                  zoom: 12,
            });
            
         for(i = 0; i < document.getElementsByName('address').length; i++) {
              var address = document.getElementsByName('address')[i].value
              var price = document.getElementsByName('price')[i].value
              var title = document.getElementsByName('title')[i].value
              const detail =
                  '<div id="detailBox">' +
                  '<div id="detailPhoto" th:object="boardDTO: ${boardDTOs}">' +
                  		'<img th:src="${boardDTO.car.thumbnail}" alt="car list 1">' +
                  '</div>'	+
                 
                  '<div class="carDetail" id="detailContent" th:object="boardDTO: ${boardDTOs}">' +
                  	'<p>' + 4.8 + '</p>' + '<p>' + '<span class="won">' + " " + "</span>" + 
                  	'<span>' + title + '</span>' + '</p>' +  
                  "</div>" +
                  '<div>' + "1 - Day : " + " " + price + "원" + '</div>' +
                  '</div>';
                  
              geocoder = new google.maps.Geocoder();
                
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == 'OK') {
                       var marker = new google.maps.Marker({
                          map: map,
                          position: results[0].geometry.location,
                       });
                       
                   

               const infowindow = new google.maps.InfoWindow({
                  content: detail,
               });
               
               marker.addListener("click", function() {
                  infowindow.open({
                      anchor: marker,
                      map,
                  });
               });
                    } else {
                       alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
         }   
   }
         
      </script>
       <div id="googleMap" style="width: 45%; height: 700px;"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCohcEtokIbEDDmWarMHZTTWAW8sffjywM&callback=myMap"></script>
   </div> 
</body>
</html>